header {
	display: flex;
	border-bottom: none !important;
	margin-bottom: 0 !important;

	h1 {
		margin-left: auto;
		margin-right: auto;
		font-weight: 400 !important;
	}
}
.entry-content,
.entry-summary {
	margin: 0 !important;
}

.wp-block-block-test-text-block {
	&.is-style-squared {
		border-radius: 0;
	}

	&.is-style-rounded {
		border-radius: 10px;
	}

	&.has-shadow {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

		&.shadow-opacity-10 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		}

		&.shadow-opacity-20 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		}

		&.shadow-opacity-30 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		}

		&.shadow-opacity-40 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
		}
	}

	&.text-block-align-right {
		text-align: right;
	}

	&.text-block-align-center {
		text-align: center;
	}

	&.text-block-align-left {
		text-align: left;
	}
}
